* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans';
}

.btn-default {
    color: #71bd46;
    background: transparent;
    border: 1px solid #71bd46;
    border-radius: 4px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}

.btn-default:hover {
    background: #71bd46;
    color: #fff;
}

h2 {
    line-height: 20px;
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #666;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

h4 {
    color: #666;
    font-size: 20px;
}

p {
    color: #888;
    line-height: 24px;
}

.section-title {
    padding-bottom: 50px;
}

a {
    color: #71bd46;
    text-decoration: none;
}

ul,ol {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

ol.type li a.active {
    color: #71bd46;
    border-bottom: 1px solid #b8dea2;
    padding-bottom: 8px;
}

ol.type li a {
    color: #888;
}

/*-------------------------------NAVBAR----------------------------------*/

#nav {
    padding: 20px;
}

#nav a.navbar-brand {
    font-size: 22px;
    color: #ddd;
    font-weight: 700;
}

#nav .navbar-nav > li > a {
    text-transform: uppercase;
    color: #bbb;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;

}

#nav .navbar-nav > li > a:hover {
    color: #71bd46;
}

#nav .navbar-nav li.active > a {
    color: #71bd46;
}

.back {
    background-color: #000;
    height: 50px;
}


/*-------------------------------HOME----------------------------------*/

#home {
    background: url(img/header-bg.jpg);
    background-size: cover;
        
}

.intro {
    padding: 250px 0 200px 0;
}

.intro h1 {
    font-size: 60px;
    color: #eee;
    font-weight: 600;
}

.color {
    color: #71bd46;
    font-weight: 700;
}

#home p {
    color: rgba(255,255,255,0.5);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 60px;
    padding: 0 4px;
}


/*-------------------------------ABOUT----------------------------------*/

#about {
    padding: 100px 0;
    background-color: #f6f6f6;
}

hr {
    height: 2px;
    width: 60px;
    background: #71bd46;
    border: 0;
    margin: 30px 0 0 0;
}

.space {
    margin-top: 40px;
}

#about h4 {
    border-bottom: 1px solid #b8dea2;
    padding-bottom: 20px;
    display: inline-block;
}

#about p {
    margin-top: 20px;
    margin-bottom: 30px;
}


/*-------------------------------SERVICES----------------------------------*/

#services {
    padding: 100px 0;
}

#services i.fas {
    font-size: 36px;
    color: #71bd46;
    display: block;
    margin-right: 20px;
    padding-bottom: 10px;
}

#services h4 {
    border-bottom: 1px solid #b8dea2;
    padding-bottom: 20px;
    display: inline-block;
}


/*-------------------------------PORTFOLIO----------------------------------*/


.portfolio .categories ul, .portfolio .categories ol{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
.portfolio .categories ul li{
	display: inline-block;
}
.portfolio .categories ol li a {
    padding-right: 20px;
    color: #888;
    cursor: pointer;
}
.portfolio .categories ol li a:hover{
	color: #71bd46;
    padding-bottom: 8px;
}
.portfolio .categories ol li.active{
	color: #71bd46;
    border-bottom: 1px solid #b8dea2;
    padding-bottom: 8px;
}
.portfolio-item{
    position:relative;
    overflow:hidden;
    margin-bottom:20px;
    height: 200px;
}
.overlay {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 95px;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.66);
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.hover-text h4 {
    opacity: 1;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
   	margin: 60px 0 35px 0;
    font-size: 20px;
    font-weight: 600;
}
.portfolio-item:hover img {
	opacity: 0.6;
	background-color: #000;
 	cursor: pointer;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

@media only screen and (max-width: 1400px){
	.portfolio-item{
		height: 190px;
	}
}
@media only screen and (max-width: 1200px){
	.portfolio-item {
	    height: 160px;
	}
	.overlay{
		top: 80px;
	}
}
@media only screen and (max-width: 992px){
	.navbar-nav {
	    padding-right: 0;
	}
	.portfolio-item {
	    height: 118px;
	}
	.overlay {
	    top: 59px;
	}
	.hover-text h4 {
	    margin: 12px 0 25px 0;
	    font-size: 18px;
	}
}
@media only screen and (max-width: 767px){
	.navbar-brand{
		margin-left: 0;
	}
	.navbar-collapse{
		margin: 5px -29px;
	}
    .navbar-nav{
        background: #101010;
        text-align: center;
        font-weight: 600;
        padding: 0 0 25px 35%;
    }
    li.nav-item {
        border-bottom: 1px solid #71bd46;
        width: 50%;
        padding-top: 10px;
    }
}
@media only screen and (max-width: 576px){
	.team, .contact, .social-icon, footer p{
		text-align: center;
	}
	.team hr, .contact hr{
		float: none;
	}
	.hover-text h4 {
	    margin: 20% 0 35px 0;
	    font-size: 22px;
	}
	.overlay {
	    top: 140px;
	}
	.portfolio-item {
	    height: 283px;
	}
	.portfolio .categories ol li a{
		font-size: 14px;
	}
	.banner-text h1 {
	    font-size: 52px;
	}
}
@media only screen and (max-width: 400px){
	.portfolio-item {
	    height: 225px;
	}
	.overlay {
	    top: 112px;
	}
	.portfolio .categories ol li a {
	    font-size: 12px;
	}
}
/*
#portfolio {
    padding: 100px 0;
    background-color: #f6f6f6;
}

.categories {
    padding-bottom: 30px;
}

ul.cat li {
    display: inline-block;
}

ol.type li {
    display: inline-block;
    margin-left: 20px;
}

.port-image
{
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-size: cover;
}

.col-md-3
{
    margin-bottom:20px;
}

.each-item
{
    position:relative;
    overflow:hidden;
}

.each-item:hover .cap1
{
    opacity: 0.9;
}

.cap1
{
    position:absolute;
    width:100%;
    height:200px;
    background:rgba(0, 0, 0, 0.5);
    opacity: 0;
    top: 0;
    left: 0;
    padding-top:25%;
    transition: all .5s;
    text-align: center;
    margin: 0 auto;
    color: #fff;    
}
*/


/*-------------------------------TEAM----------------------------------*/

#team {
    padding: 100px 0;
}

img.team-img {
    width: 160px;
    height: 160px;
    border: 0;
    margin: 0;
}

#team h3 {
    border-top: 1px solid #b8dea2;
    padding-top: 20px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}


/*-------------------------------CONTACT----------------------------------*/

#contact {
    padding: 100px 0;
    background-color: #f6f6f6;
}

#contact i.fas {
    color: #71bd46;
    margin-right: 20px;
}

#contact form {
    padding: 30px 0;
}

#contact .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

#contact .form-control:focus {
    box-shadow: none;
    border: 1px solid #000;
    cursor: pointer;
}

#contact .btn {
    background: transparent;
    border: 1px solid #71bd46;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 20px;
    color: #71bd46;
    font-size: 16px;
}

#contact .btn:hover {
    background: #71bd46;
    color: #fff;
}


/*-------------------------------SOCIAL----------------------------------*/

#social {
    padding: 30px 0;
    background-color: #fff;
}

#social ul {
    list-style: none;
}

#social ul li {
    display: inline-block;
    margin: 0 20px;
}

#social .icons i.fab {
    font-size: 24px;
    padding: 4px 5px;
    color: #71bd46;
}

#social .icons i.fab:hover {
    color: #666;
}


/*-------------------------------FOOTER----------------------------------*/

#footer {
    background-color: #222;
    color: #777;
    padding: 15px 0 10px 0;
}