#ball {
    position: absolute;
    width: 40px;
    height: 40px;
    transition: all 1s;
}

#field {
    width: 200px;
    height: 150px;
    border: 10px solid black;
    background-color: #00FF00;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

th,td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

#hours {
    color: red;
}

#minutes {
    color: green;
}

#seconds {
    color: blue;
}

button {
    margin: 50px;
}

.tooltip {
      position: fixed;
      padding: 10px 20px;
      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      font: italic 14px/1.3 sans-serif;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    }