#ball {
    position: absolute;
    width: 40px;
    height: 40px;
    transition: all 1s;
}

#field {
    width: 200px;
    height: 150px;
    border: 10px solid black;
    background-color: #00FF00;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

th,td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

#hours {
    color: red;
}

#minutes {
    color: green;
}

#seconds {
    color: blue;
}

button {
    margin: 50px;
}

 .tooltip {
      position: fixed;
      z-index: 100;

      padding: 10px 20px;

      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
     opacity: 1;
    }


#largeImg {
  border: solid 1px #ccc;
  width: 550px;
  height: 400px;
  padding: 5px;
}


#thumbnail a {
  border: solid 1px #ccc;
  width: 100px;
  height: 100px;
  padding: 3px;
  margin: 2px;
  float: left;
  overflow: hidden
    
    
}

#thumbnail a:hover {
  border-color: #FF9900;
}

#thumbnail li {
  list-style: none;
}

#thumbnail {
  margin: 0;
  padding: 0;
}


.slider {
  border-radius: 5px;
  background: #E0E0E0;
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  width: 310px;
  height: 15px;
  margin: 5px;
}

.thumb {
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  left: 10px;
  top: -5px;
  background: blue;
  cursor: pointer;
}
