* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #E3AE57;
    text-decoration: none !important;
}



body {
    margin: 0px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-size: 14px;
    color: #333;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    font-style: normal;
}

h1 {
    font-size: 42px;
    margin-bottom: 0;
}

h2 {
    font-size: 42px;
}



h3 {
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 6px;
}

p {
    color: #888;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
}


#home .container, #about .container,
#contact .container-fluid{
    width: 100%;
    padding: 0;
    margin: 0;
}

.color-white {
    color: #fff;
}

#service, #quotes,
footer{
    text-align: center;
}

#about, #service,
#experience, #education,
#contact {
    position: relative;
}

#experience, #education {
    background: #E9724C;
}



/*--------------------------------NavBar-----------------------------------------------*/


.navbar-brand {
    margin-left: -15px;
    padding: 15px 15px;
    margin-right: 0;
}

.custom-navbar {
    background-color: transparent;
    position: fixed;
    z-index: 1030;
    padding: 0;
    margin: 0;
    height: 70px;
}

.custom-navbar
.navbar-brand {
    color: #333;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 1px;
}

.nav-colored {
    background-color: #fff;
}

.nav-transparent {
    background-color: transparent;
}

.custom-navbar .navbar-nav li a.active {
    background-color: transparent;
    color: #E3AE57;
}

.custom-navbar .nav li a  {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 40px;
    transition: all 0.4s ease-in-out;   
}

/*--------------------------------HOME-----------------------------------------------*/

.sect {
    background-attachment: fixed ! important;
    background-size: cover ! important;
}




/*--------------------------------HOME-----------------------------------------------*/



#home .col-md-6 {
    background: #f1e2d7;
    padding-left: 0px;
    padding-right: 0px;
}

#home .home-img {
    
    background-attachment: fixed;
    width: 100%;
    background-position: 50% 50%;
    height: 100vh;
}


.padd {
    padding-left: 0;
    padding-right: 0px;
}

#home .home-title {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 45px;
}

.section {
    position: relative;
    padding-bottom: 22px;
}

h4 {
    visibility: visible;
    color: #999;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 6px;
}

#home h1 {
    padding-bottom: 18px;
}

.section-btn {
    background-color: transparent;
    border: 3px solid #232B2B;
    border-radius: 100px;
    color: #232B2B;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.6px;
    padding: 12px 36px;
    margin-top: 32px;
    text-transform: uppercase;
}

.section-btn:hover,
.section-btn:visited {
    background: E3AE57;
}


/*--------------------------------ABOUT-----------------------------------------------*/

#about .about-title,
#about .skills{
    
    padding: 22px 32px 32px 32px
}

.section-title {
    position: relative;
    padding-bottom: 22px;
}

.color-yellow {
    color: #E3AE57;
}


.background-image {
    
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 75vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-yellow {
    background: #E3AE57;
}


#about strong,
#about span {
    font-weight: bold;
    display: inline-block;
    padding-bottom: 8px;
}

#about .progress {
    background: #fff;
    border-radius: 0px;
    box-shadow: none;
    height: 2px;
    margin-bottom: 20px;
}

#about .progress-bar-primary {
    background: #232B2B;
}


.pull-right {
    float: right;
}



/*--------------------------------SERVICE-----------------------------------------------*/

#service {
    background: #E9724C;
}


#service .service-thumb {
    padding: 52px 22px 52px 22px;
}


#service .service-thumb .fa {
    font-size: 42px;
    padding-bottom: 22px;
}

#service p {
    font-size: 18px;
    line-height: 30px;
}


.bg-dark {
    background: #161616;
}


/*--------------------------------EXPERIENCE-----------------------------------------------*/

.experience-img {
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
/*    min-height: 75vh;*/
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


#experience .experience-title {
    padding: 22px 42px 42px 42px;
}


#experience .media .fa {
    font-size: 42px;
    margin-right: 14px;
}

#experience .media-heading {
    margin-bottom: 0px;
}

#experience small {
    color: #633;
    font-weight: bold;
    font-size: 65%;
}



/*--------------------------------EDUCATION-----------------------------------------------*/

#education {
    background: #E3AE57;
}

#education .education-title {
    padding: 22px 42px 42px 42px;
}


#education .media .fa {
    font-size: 42px;
    margin-right: 14px;
}

#education .media-heading {
    margin-bottom: 0px;
}

#education small {
    color: #633;
    font-weight: bold;
    font-size: 65%;
}

.education-img {
    background-position: 50% 50% ! important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
/*    min-height: 75vh;*/
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


/*--------------------------------QUOTES-----------------------------------------------*/

#quotes {
    background: url(images/quotes-bg.jpg) 50% 0 repeat-y fixed;
    color: #fff;
    position: relative;
    padding: 100px 0px;
}

#quotes .overlay {
    background: #121212;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
}

#quotes .fa {
    font-size: 42px;
    margin-top: 32px;
    margin-bottom: 22px;
}

.col-md-offset-1 {
    margin-left: 8.333333%;
}

#quotes p {
    padding-top: 32px;
}


/*--------------------------------CONTACT-----------------------------------------------*/

#contact {
    background: #E9724C;
}

#contact .form-control {
    
    background: transparent;
    border: none;
    border-bottom: 1px solid #E3AE57;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#contact input {
    height: 45px;
}

#contact input[type = "submit"] {
    background: #fff;
    border: 2px solid transparent;
    border-radius: 40px;
    color: #161616;
    padding-bottom: 10px;
}

#contact .contact-form {
    padding: 22px 32px 22px 32px;
    min-height: 75vh;
}

#contact .contact-title {
    padding: 22px 32px 22px 32px;
    min-height: 75vh;
}

.contact-img {
    background-position: 50% 50% !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    min-height: 75vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#contact .contact-info {
    padding-top: 6px;
    padding-bottom: 6px;
}

#contact .fa {
    padding-right: 10px;
}


/*--------------------------------FOOTER-----------------------------------------------*/

footer {
    padding: 140px 0px;
}

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 2px solid transparent;
    color: #999;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 4px 10px 4px;
}


.navbar-nav>li {
    float: left;
}

.nav>li {
    position: relative;
    display: block;
}


/*--------------------------------------------------------------------------------------
                                    MEDIA QUERIES
----------------------------------------------------------------------------------------*/

@media only screen and (max-width:767px) {
    #home .container-fluid,#about .container-fluid,
    #service .container-fluid,#experience .container-fluid,
    #education .container-fluid,#quotes .container-fluid,
    #contact .container-fluid{
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .navbar-right {
        float: right;
    }
}