body {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    background: #fff;
}

p {
    margin-bottom: 20px;
}


/*-----------------------NavBar-----------------------------------------*/

.custom-navbar {
    padding: 10px 0;
    height: 60px;
}

#navbar ul li a {
    padding: 30px 10px;
    color: #3ac1bc;
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                SERVICES PAGE
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/*-----------------------Header-----------------------------------------*/

#header {
    background: #3dcdbc;
}

#header .display-t {
    height: 500px;
    display: table;
    width: 100%;
}

#header .display-tc {
    
    display: table-cell !important;
    vertical-align: middle;
}

#header .display-tc h1 {
    color: #fff;
    font-weight: 100;
    font-size: 59px;
    margin: 0;
    padding: 0;
}

#header p {
    font-size: 20px;
    margin-bottom: 40px !important;
    color: #d3f1ed;
}


/*-----------------------Services-----------------------------------------*/



.services {
    padding: 120px 0;
    color: #444;
}

.services .heading {
    margin-bottom: 80px 0;
}

.heading h2 {
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 10px;
    color: #4d4d4d;
    line-height: 1.5;
}

.heading p {
    font-size: 18px;
    line-height: 1.7;
    color: #898989;
}

.btn-special {
    background: #00ffa3;
    color: #239c71;
    border: 2px solid #00ffa3;
}

.btn {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    padding: 20px 30px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
    margin-right: 4px;
    margin-bottom: 4px;
}

.row-pb {
    height: 349px;
    padding-bottom: 32px;
}

.services .service {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 32px;
    margin-bottom: 32px;
    position: relative;
    background: #fff;
    box-shadow: 0px 22px 68px -9px rgba(0,0,0,0.15)
}

.services .service h3 {
    text-align: left;
    color: #000;
    font-size: 18px;
    padding-left: 30px;
}

.services .service p {
    text-align: left;
    color: #898989;
    font-size: 15px;
}


/*-----------------------Products-----------------------------------------*/

.section {
    padding: 112px 0;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products .two-row {
    height: 239px;
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.item {
    float: left;
    width: 100%;
    display: block;
}

.item img {
    margin-bottom: 40px !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.products .one-row {
    height: 508px;
    width: 100%;
    display: block;
}

.row-mar {
    margin-bottom: 64px;
}


/*-----------------------Testimonial-----------------------------------------*/

.testimonials {
    background: #f6f6f6;
}

.testimonials .testimony {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.testimonials .left > div {
    display: table-cell;
    float: left;
    width: 80px;
}

.testimonials .left blockquote {
    padding-left: 20px;
    display: table-cell;
    border-left: none;
    margin: 0;
    padding: 0 0 0 30px;
}

.testimonials .left blockquote p {
    font-style: italic;
    font-size: 17.5px;
}

.testimonials .left > div img {
    border-radius: 50%;
    max-width: 100% !important;
}

.testimonials .left blockquote .author {
    color: #666666;
    display: block;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
}


/*-----------------------Footer-----------------------------------------*/

#footer {
    background: #000;
}

#footer .cta {
    margin-bottom: 30px;
}

#footer .cta h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

#footer .cta .btn-white {
    padding: 15px 20px !important;
}

#footer .footer-paragraph {
    color: #fff;
    margin-bottom: 10px
}

#footer .footer-link {
    padding-left: 30px;
}

.btn-white.btn-outline {
    color: #fff;
    border: 2px solid #fff;
}

#footer .footer-link .list-link {
    padding: 0;
    margin: 0;
}

#footer .footer-link .list-link {
    padding: 0;
    margin: 0;
    list-style: none;
}

#footer .footer-link .list-link li a {
    font-size: 13px;
}

a {
    color: #17B794;
}

#footer .footer-subscribe {
    padding-left: 30px;
}

.btn-primary {
    background: #17B794;
    color: #fff;
    border: 2px solid #17B794;
}

#footer .footer-subscribe .btn {
    border-radius: 4px;
    margin-top: 4px;
    height: 54px;
    line-height: 1.5px;
    padding: 10px;
    margin-left: 5px;
}

.form-control {
    height: 54px;
    font-size: 18px;
    font-weight: 300;
}

.copyright {
    float: left;
    background: #1a1a1a;
    width: 100%;
    padding: 30px 0;
}





/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                INDEX PAGE
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.cover {
    background: linear-gradient(to right, #3dcdbc, #33a1bd);
}

.cover .display-tc {
    display: table-cell !important;
    vertical-align: middle;
    padding-top: 150px;
}

.cover .display-tc h1 {
    font-size: 59px;
    height: 900px;
    width: 100%;
}

#header .header-img {
    margin-bottom: 30px;
}

.cover .display-tc h1 {
    margin-bottom: 30px;
    height: 140px;
}

#header .btn {
    color: #34a7bd;
    
}

.btn-white {
 background: #fff;
 border: 2px solid #fff;
}


/*----------------------------------------------------------------Client--------------------------------------------------------------------*/

.client {
    padding: 48px 0;
    width: 100%;
    background: #f6f6f6;
}